## 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
# Creating a list "year_list"
year_list = [1980, 1981, 1982, 1983, 1984, 1985]
print("Birth year is: ",year_list[0])
year_list

Birth year is:  1980

[1980, 1981, 1982, 1983, 1984, 1985]

## 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
print("Third birthday will be in:  ", year_list[2])

year_list

Third birthday will be in:   1982

[1980, 1981, 1982, 1983, 1984, 1985]

## 3.In the years list, which year were you the oldest?

In [ ]:
print("Year in which person will be the oldest:  ", year_list[-1])

year_list

Year in which person will be the oldest:   1985

[1980, 1981, 1982, 1983, 1984, 1985]

## 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.

In [4]:
# creating a list with elements as : "mozzarella", "cinderella", "salmonella"
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

## 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [5]:
[x.upper() for x in things]

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [6]:
map(lambda x:x.upper(), things)

In [7]:
[x.capitalize() for x in things]

['Mozzarella', 'Cinderella', 'Salmonella']

In [8]:
things

['mozzarella', 'cinderella', 'salmonella']

In [9]:
things = [x.upper() for x in things]
things

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [10]:
things = [x.capitalize() for x in things]
things

['Mozzarella', 'Cinderella', 'Salmonella']

## 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [11]:
# Creating a list "surprise"
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

## 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [12]:
surprise[-1] = surprise[-1].lower()
surprise

['Groucho', 'Chico', 'harpo']

In [13]:
surprise[::-1]

['harpo', 'Chico', 'Groucho']

In [14]:
[x.capitalize() for x in surprise]

['Groucho', 'Chico', 'Harpo']

## 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [15]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

## 9. Write the French word for walrus in your three-word dictionary e2f.

In [16]:
e2f['walrus']

'morse'

## 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [17]:
print("English to French dictionary:", e2f)

f2e = dict((value,key) for key, value in e2f.items())

print("French to English dictionary:", f2e)

English to French dictionary: {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
French to English dictionary: {'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

## 11. Print the English version of the French word chien using f2e.

In [18]:
print(f2e['chien'])

dog

## 12. Make and print a set of English words from the keys in e2f.

In [19]:
print("Set of English words:", set(e2f.keys()))

Set of English words: {'dog', 'cat', 'walrus'}

## 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;, and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [20]:
# Creating a multilevel dictionary "life"


life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
        'plants': {},
        'other': {}
}

## 14. Print the top-level keys of life.

In [21]:
for i in life.keys():
    print(i)

animals
plants
other

## 15. Print the keys for life[&#39;animals&#39;].

In [22]:
print(life['animals'])
for i in life['animals'].keys():
    print(i)

{'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}
cats
octopi
emus

## 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [23]:
for i in life['animals']['cats']:
    print(i)

Henri
Grumpy
Lucy