## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 * "*" 
 * 'hello'
 * -87.8
 * "-" 
 * / 
 * "+"	
 * 6

Solution:
 * **" * "**  is an operator for multiplication **Expression**
 * **'hello'** is a string **Value**                
 * **-87.8** is a floating point **Value**
 * **" - "** is an operator for substraction **Expression**
 * **" / "** is an operator for division **Expression**
 * **" + "** is an operator for addition **Expression**
 * **6** is an integer **Value**

## 2. What is the difference between string and variable?
Solution 2: 

* **String**: A String is a type of information you would store in a variable. A String is usually words, enclosed with " " or ' '. In the context of data science, features in dataset like full name of a customer, and reviews for products are of string datatype.
  * For Example:

In [1]:
type("String enclosed within double quotes")

str

In [2]:
type('String enclosed within single quotes')

str

* **Variable**: Variable is the name of the space/location we assign with the help of assignment operator "=". It stores different type of data like integer, string, float, boolean, complex number temporary in RAM/main memory.
   * For Example:

In [3]:
a=25
type(a)

int

In [4]:
b = "twenty five"
type(b)

str

In [5]:
c = 25.52
type(c)

float

In [6]:
d = True
type(d)

bool

In [7]:
e = 25+52j
type(e)

complex

## 3. Describe three different data types.

**Integer**: Integer is one of the numeric datatype. This value is represented by "int" class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be. In context of data science, features like number of members, number od bank accounts, number of products are of integer datatype.

In [8]:
a= 25 
type(a)

int

**Float**: Floating point number is another numeric datatype in Python This value is represented by "float" class. It is a real number with floating point representation. It is specified by a decimal point. In the context of data science, features like salary, trasaction time, sales of a product,  are of float datatype.

In [9]:
b = 25.52
type(b)

float

**String**: In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.In the context of data science, features in dataset like full name of a customer, and reviews for products are of string datatype.

In [10]:
c = "Twenty Five"
type(c)

str

## 4. What is an expression made up of? What do all expressions do?

#### An expression is made up of a combination of operators and operands.
* **What are Operators?:**
    * Airthmatic Operators:
       * Addition,Substraction,Multiplication, Division, Modulus, Power.
    * Comparison Operators:
       * Greater than, less than, equal to, greater than equal to, less than equal to
    * Logical Operators: 
       * Logical operators perform Logical AND, Logical OR, and Logical NOT operations. It is used to combine conditional statements.
    * Bitwise Operators:
       * Bitwise operators act on bits and perform the bit-by-bit operations. These are used to operate on binary numbers.
    * Assignment Operators:
       * Assignment operators are used to assigning values to the variables.
* **What are Operands?:**
    * The operand is the object that is being worked on by an operation. A basic example of an operand would be a variable declared in a program that would change value because of operations.
    
#### Expressions are used to evaluate the values or represent the result on the screen.

In [11]:
# Examples of Arithmetic Operator
num1 = 50
num2 = 24

In [12]:
# Addition of numbers
add = num1 + num2
print(add)

74

In [13]:
# Subtraction of numbers
sub = num1 - num2
print(sub)

26

In [14]:
# Multiplication of number
mul = num1 * num2
print(mul)

1200

In [15]:
# Division(float) of number
div1 = num1 / num2
print(div1)

2.0833333333333335

In [16]:
# Division(floor) of number
div2 = num1 // num2
print(div2)

2

In [17]:
# Modulo of both number
mod = num1 % num2
print(mod)

2

In [18]:
# Power
p = num1 ** num2
print(p)

59604644775390625000000000000000000000000

In [19]:
# Examples of Relational Operators
num1 = 20
num2 = 23

In [20]:
# Greater than
print(num1 > num2)

False

In [21]:
# Less than
print(num1 < num2)

True

In [22]:
# Equal to
print(num1 == num2)

False

In [23]:
# Not equal to
print(num1 != num2)

True

In [24]:
# Greater than equal to
print(num1 >= num2)

False

In [25]:
# Less than equal to
print(num1 <= num2)

True

In [26]:
# Examples of Logical Operator
a = True
b = False

In [27]:
# Logical 'and' operator
print(a and b)

False

In [28]:
# Logical 'or' operator
print(a or b)

True

In [29]:
# Logical 'not' operator
print(not a)

False

In [30]:
# Examples of Bitwise operators
num1 = 26
num2 = 24

In [31]:
# Bitwise AND operation
print(num1 & num2)

24

In [32]:
# Bitwise OR operation
print(num1 | num2)

26

In [33]:
# Bitwise NOT operation
print(~num1)

-27

In [34]:
# Bitwise XOR operation
print(num1 ^ num2)

2

In [35]:
# Bitwise Right Shift operation
print(num1 >> 2)

6

In [36]:
# Bitwise Left Shift operation
print(num1 << 2)

104

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

 * An **expression** usually refers to a piece of code that can be evaluated to a value, and is composed of variables, operators, function calls, and literals while a **statement** refers to a piece of code that executes a specific instruction or perform action or tells the computer to complete a task.
 * In most programming languages, common examples of **expressions** are method calls and mathematical operations and a **statement** can take the form of assignments, control statements, import statements, loop statements, jump statements, or method calls.
 * The evaluation of an **expression** does not changes state but the execution of a **statement** changes state.
 * Evaluation of an **expression** always produces or returns a result value however execution of a **statement** may or may not produces or displays a result value, it only does whatever the statement says.
 * Every **expression** canâ€™t be a statement however every **statement** can be an expression.

In [37]:
spam = 10    # It's an assignment statement.
spam         # Value of created spam variable is displayed.

10

In [38]:
spam ** 2    # It's an expression which will evaluate and deliver a value as output.

100

## 6. After running the following code, what does the variable bacon contain?
- bacon = 22
- bacon + 1

In [39]:
bacon = 22   # Assigning the value 22 to variable "bacon"
bacon + 1    # Expression which adds 1 to the value stored in the variable "bacon" and displays the output after evaluationg the expression

23

In [40]:
bacon      # Calling the value stored in bacon

22

Variable "bacon" contain 22 because these is a operation performed on "bacon" but there is no assignment to the output value of the expression.

## 7. What should the values of the following two terms be?
* 'spam' + 'spamspam'
* 'spam' * 3

In [41]:
'spam' + 'spamspam'

'spamspamspam'

Concatenation of the strings with the addition operator.

In [42]:
'spam' * 3

'spamspamspam'

Concatenation of the string using multiplication operator.
* Results are same for both the expressions.

## 8. Why is "eggs" a valid variable name while "100" is invalid?

* Rules for Python variables:
   * A variable name must start with a letter or the underscore character
   * **A variable name cannot start with a number**
   * A variable name can only contain **alpha-numeric characters and underscores (A-z, 0-9, and _ ).**
   * Variable names are case-sensitive (policy, Policy and POLICY are three different variables)
   
   
* "eggs" is a valid variable name because it starts with a letter, it contains alphabets.
* "100" is a invalid variable name because it starts witha number, it is not an alpha-numeric character.
     * valid examples can be _100, a100, a_100.

In [43]:
eggs = 100
eggs

100

In [44]:
100 = "beach"

SyntaxError: cannot assign to literal (1725534555.py, line 1)

In [45]:
_100 = "beach"
a100 = "forest"
a_100 = "hill station" 
_100, a100 , a_100

('beach', 'forest', 'hill station')

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**int()**, **float()** and **str()**  are the three functions used to get the **integer**, **floating-point number**, or **string version** of a value repectively. These funstions are also used to **typecast** or **strong typing** the values.

In [46]:
a = 10
type(a)

int

Typecasting an integer to string

In [47]:
a = str(a)   # Assign the typecasted value back to the respective variable otherwise the typecasting will not work. 
type(a)

str

Typecasting an integer to float

In [48]:
f = float(a)
type(f)

float

Typecasting an string to integer or float

In [49]:
s = "string"
s_num = int(s)

ValueError: invalid literal for int() with base 10: 'string'

In [50]:
s_decimal = float(s)

ValueError: could not convert string to float: 'string'

* ValueError: invalid literal for int() with base 10: 'string'
* ValueError: could not convert string to float: 'string'

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [51]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [52]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'

In [53]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [54]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'